.div0{
  text-align: center;
}
.div1{
  width: 300px;
  height: 100px;
      background-color: hsla(-1, 0%, 93%, 0.9);
    border-radius: 20px;
  display: inline-block;
}
 .div2{
  width: 500px;
  height: 100px;
      background-color: hsla(-1, 0%, 93%, 0.9);
    border-radius: 20px;
  display: inline-block;
}
